@using Microsoft.AspNetCore.Identity
@using Footeo.Models;

@inject SignInManager<FooteoUser> SignInManager

@model Footeo.Web.ViewModels.Users.LoginInputModel
@{
    ViewData["Title"] = "Login";
}

<div class="w-50 mx-auto">
    <h2 class="text-center">@this.ViewData["Title"]</h2>
    <hr/>
    <form class="mx-auto half-width" method="post" asp-controller="Account" asp-action="Login">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <div class="d-flex justify-content-center">
                <label class="font-weight-bold" asp-for="Username"></label>
            </div>
            <input asp-for="Username" class="form-control" placeholder="Username...">
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="d-flex justify-content-center">
                <label class="font-weight-bold" asp-for="Password"></label>
            </div>
            <input asp-for="Password" class="form-control" placeholder="Password...">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <hr class="hr-2 bg-eventures mt-3" />
        <div class="form-group">
            <div class="checkbox">
                <div class="d-flex justify-content-center">
                    <label asp-for="RememberMe">
                        <input asp-for="RememberMe" />
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
            </div>
        </div>
        <hr class="hr-2 bg-eventures mt-3" />
        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn">Login</button>
        </div>
    </form>
    <h3 class="text-center">Use another service to log in.</h3>
    <hr />
    @{
        var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
        if (loginProviders.Count == 0)
        {
            <div class="text-center">
                <p>
                    There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                    for details on setting up this ASP.NET application to support logging in via external services.
                </p>
            </div>
        }
        else
        {
            <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                <div class="text-center">
                    <p>
                        @foreach (var provider in loginProviders)
                        {
                            <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.Name</button>
                        }
                    </p>
                </div>
            </form>
        }
    }
</div>

<div>
    <a class="nav-link" asp-controller="Home" asp-action="Index">Back to Home Page</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
