@using Footeo.Services.Contracts

@model Footeo.Web.ViewModels.Fixtures.Output.AllFixturesViewModel

@inject IMatchesService MatchesService
@{
    ViewData["Title"] = "Fixtures";
}

<h2 class="text-center">@this.ViewData["Title"]</h2>

<div class="mx-auto w-50">
    <table class="table-hover table table-striped">
        <tr>
            <th>Info</th>
            <th>Matches</th>
            <th>Match Details</th>
            @if (this.User.IsInRole(GlobalConstants.RefereeRoleName))
            {
                <th>Join Match</th>
            }
        </tr>
        @foreach (var fixture in Model.Fixtures)
        {
            @foreach (var match in fixture.Matches)
            {
                <tr>
                    <td>@fixture.Info</td>
                    <td>@($"{match.HomeTeamName} vs {match.AwayTeamName}")</td>
                    <td><a asp-controller="Matches" asp-action="Details" asp-route-id="@match.Id">Details</a></td>
                    @if (this.User.IsInRole(GlobalConstants.RefereeRoleName) && !this.MatchesService.MatchHasReferee(match.Id))
                    {
                        <td><a asp-area="Referee" asp-controller="Matches" asp-action="Join" asp-route-id="@match.Id">Join</a></td>
                    }
                    else
                    {
                        <td>Match has a referee</td>
                    }
                </tr>
            }
        }
    </table>
</div>

<div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Back to Home Page</a>
</div>