@using Microsoft.AspNetCore.Identity
@using Footeo.Models;

@inject SignInManager<FooteoUser> SignInManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    @if (this.SignInManager.IsSignedIn(this.User))
    {
        <h1 class="text-center">Welcome to your Football Event Organizer!</h1>
        <hr />
        @if (User.IsInRole("Player"))
        {
            <h1 class="text-center">Hello, Player @this.User.Identity.Name!</h1>
            <hr />
            <div class="container text-center">
                <a asp-controller="Teams" asp-action="All" class="btn btn-dark">Join Team</a>
                Or
                <a asp-controller="Teams" asp-action="Create" class="btn btn-dark">Create One</a>
            </div>
        }

        @if (User.IsInRole("PlayerInTeam"))
        {
            @if (User.IsInRole("Captain"))
            {
                <h1 class="text-center">Hello, Captain @this.User.Identity.Name!</h1>
                <div class="container text-center">
                    <a asp-controller="League" asp-action="Join" class="btn btn-dark">Join League</a>
                </div>
            }
            else
            {
                <h1 class="text-center">Hello, Player @this.User.Identity.Name!</h1>
                <hr />
                <div class="container text-center">
                    Wait for the start of the season
                </div>
            }
        }


        @if (User.IsInRole("Referee"))
        {
            <h1 class="text-center">Hello, Referee @this.User.Identity.Name!</h1>
            <hr />
            <div class="container text-center">
                <a asp-controller="Matches" asp-action="Join" class="btn btn-dark">Join Match</a>
            </div>
        }


        @if (User.IsInRole("Admin"))
        {
            <h1 class="text-center">Hello, Administrator @this.User.Identity.Name!</h1>
            <hr />
            <div class="container text-center">
                <a asp-controller="Teams" asp-action="All" class="btn btn-dark">Join Team</a>
                Or
                <a asp-controller="Teams" asp-action="Create" class="btn btn-dark">Create One</a>
            </div>
            <hr />
            <div class="container text-center">
                <a asp-controller="League" asp-action="Join" class="btn btn-dark">Join League</a>
            </div> <hr />
            <div class="container text-center">
                <a asp-controller="Matches" asp-action="Join" class="btn btn-dark">Join Match</a>
            </div>
        }
    }
    else
    {
        <h1 class="text-center">Join our Football Event Organizer platform now!</h1>
        <div class="container text-center">
            <a class="btn btn-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
            Or
            <a class="btn btn-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </div>
    }
</div>