@model Footeo.Web.ViewModels.Leagues.View.AllLeaguesViewModel

@{
    ViewData["Title"] = "All Leagues";
}

<h2 class="text-center">All Leagues</h2>

<div class="mx-auto w-50">
    <table class="table-hover table table-striped">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Town</th>
            <th>Status</th>
        </tr>
        @foreach (var league in Model.Leagues)
        {
            <tr>
                <td>@league.Name</td>
                <td>@league.Description</td>
                <td>@league.StartDate</td>
                <td>@league.EndDate</td>
                <td>@league.Town</td>
                <td>@league.Status</td>
            </tr>
        }
    </table>
</div>