@model Footeo.Web.ViewModels.Leagues.View.AllLeaguesViewModel

@{
    ViewData["Title"] = "All Leagues";
}

<h2 class="text-center">All Leagues</h2>

<div class="mx-auto w-50">
    <table class="table-hover table table-striped">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Town</th>
            <th>Status</th>
            <th>Details</th>
        </tr>
        @foreach (var league in Model.Leagues)
        {
            <tr>
                <td>@league.Name</td>
                <td>@league.Description</td>
                <td>@league.StartDate</td>
                <td>@league.EndDate</td>
                <td>@league.TownName</td>
                <td>@league.Status</td>
                <td><a asp-controller="Leagues" asp-action="Details" asp-route-id="@league.Id">Details</a></td>
            </tr>
        }
    </table>
</div>

<div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Back to Home Page</a>
</div>