@using Microsoft.AspNetCore.Identity
@using Footeo.Models
@using Footeo.Services.Contracts

@model Footeo.Web.ViewModels.Leagues.Output.AllPendingLeaguesViewModel

@inject UserManager<FooteoUser> UserManager
@inject ITeamLeaguesService TeamLeaguesService
@{
    ViewData["Title"] = "Pending Leagues";

    var user = this.UserManager.GetUserAsync(this.User).GetAwaiter().GetResult();
    bool captainResult = false;

    if (user != null)
    {
        captainResult = this.UserManager.IsInRoleAsync(user, GlobalConstants.CaptainRoleName).GetAwaiter().GetResult();
    }

}

@if (!Model.Leagues.Any())
{
    <div class="container">
        <h2 class="text-center" style="color:#00a78e">No pending leagues yet</h2>
    </div>
}
else
{
    <div class="container">
        <h2 class="text-center" style="color:#00a78e">@this.ViewData["Title"]</h2>
        <hr class="hr-2" />
        <div class="table-responsive-lg">
            <table class="table-hover table">
                <tbody>
                    <tr class="active">
                        <th>Name</th>
                        <th>Duration</th>
                        <th>Location</th>
                        <th>Details</th>
                        @if (captainResult)
                        {
                            <th>Join</th>
                        }
                    </tr>
                    @foreach (var league in Model.Leagues)
                    {
                        <tr>
                            <td>@league.Name</td>
                            <td>@league.ShowDuration</td>
                            <td>@league.TownName</td>
                            <td><a style="background-color:#00a78e" class="btn btn-primary" asp-controller="Leagues" asp-action="Table" asp-route-id="@league.Id">League Table</a></td>
                            @if (captainResult)
                            {
                                @if (this.TeamLeaguesService.TeamsCount(league.Id) < GlobalConstants.MaxTeamsInLeagueCount)
                                {
                                    @if (!this.TeamLeaguesService.IsTeamInLeague(league.Id, this.User.Identity.Name))
                                    {
                                        <td><a style="background-color:#00a78e" class="btn btn-primary" asp-area="Player" asp-controller="Leagues" asp-action="Join" asp-route-id="@league.Id">Join</a></td>
                                    }
                                    else
                                    {
                                        <td>Team already in league</td>
                                    }
                                }
                                else
                                {
                                    <td>The league is full</td>
                                }
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}