@model Footeo.Web.ViewModels.Leagues.Output.LeagueTableViewModel

@{
    ViewData["Title"] = "League Table";
    int position = 1;
}


@if (!Model.Teams.Any())
{
    <div class="container">
        <h2 class="text-center" style="color:#00a78e">No teams have joined yet</h2>

    </div>
}
else
{
    <div class="container">
        <h2 class="text-center" style="color:#00a78e">@this.ViewData["Title"]</h2>
        <hr class="hr-2" />
        <div class="table-responsive-lg">
            <table class="table-hover table">
                <tbody>
                    <tr class="active">
                        <th>Position</th>
                        <th>Team</th>
                        <th>Played</th>
                        <th>Won</th>
                        <th>Drawn</th>
                        <th>Lost</th>
                        <th>GF</th>
                        <th>GA</th>
                        <th>GD</th>
                        <th>Points</th>
                        <th></th>
                    </tr>
                    @foreach (var team in Model.Teams)
                    {
                        <tr>
                            <td>@(position++)</td>
                            <td>@team.TeamName</td>
                            <td>@team.PlayedMatches</td>
                            <td>@team.Won</td>
                            <td>@team.Drawn</td>
                            <td>@team.Lost</td>
                            <td>@team.GoalsFor</td>
                            <td>@team.GoalsAgainst</td>
                            <td>@team.ShowGoalDifference</td>
                            <td>@team.Points</td>
                            <td><a style="background-color:#00a78e" class="btn btn-primary" asp-controller="Teams" asp-action="Players" asp-route-id="@team.TeamId">Team Details</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}