@using X.PagedList;
@using X.PagedList.Mvc.Core;

@model Footeo.Web.ViewModels.Fields.Output.AllFieldsViewModel

@{
    ViewData["Title"] = "Fields";
}

@if (!Model.Fields.Any())
{
    <div class="container">
        <h2 class="text-center" style="color:#00a78e">No fields are added yet</h2>
    </div>
}
else
{
    <div class="container">
        <h2 class="text-center" style="color:#00a78e">@this.ViewData["Title"]</h2>
        <hr class="hr-2" />
        <div class="table-responsive-lg">
            <table class="table-hover table">
                <tbody>
                    <tr class="active">
                        <th>Name</th>
                        <th>Location</th>
                        <th>Type</th>
                    </tr>
                    @foreach (var field in Model.Fields)
                    {
                        <tr>
                            <td>@field.Name</td>
                            <td>@field.ShowLocation</td>
                            <td>@field.ShowIsIndoor</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <hr />
        <div class="text-center">
            @Html.PagedListPager((IPagedList)Model.Fields, pageNumber => Url.Action("All", new { pageNumber }));
        </div>
    </div>
}