@model Footeo.Web.ViewModels.Fields.Output.AllFieldsViewModel

@{
    ViewData["Title"] = "All Fields";
}

<h2 class="text-center">@this.ViewData["Title"]</h2>

<div class="mx-auto w-50">
    <table class="table-hover table table-striped">
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Indoors/Outdoors</th>
            <th>Town</th>
        </tr>
        @foreach (var field in Model.Fields)
        {
            <tr>
                <td>@field.Name</td>
                <td>@field.Address</td>
                <td>@field.ShowIsIndoor</td>
                <td>@field.TownName</td>
            </tr>
        }
    </table>
</div>

<div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Back to Home Page</a>
</div>