@model Footeo.Web.ViewModels.Teams.View.AllTeamsViewModel

@{
    ViewData["Title"] = "All Teams";
}

<h2 class="text-center">All Teams</h2>

<div class="mx-auto w-50">
    <table class="table-hover table table-striped">
        <tr>
            <th>Name</th>
            <th>Initials</th>
            <th>Create On</th>
            <th>Town</th>
            <th>Players</th>
            <th>Join Team</th>
        </tr>
        @foreach (var team in Model.Teams)
        {
            <tr>
                <td>@team.Name</td>
                <td>@team.Initials</td>
                <td>@team.CreatedOn</td>
                <td>@team.TownName</td>
                <td><a asp-controller="Teams" asp-action="Details" asp-route-id="@team.Id">View</a></td>
                <td><a asp-controller="Teams" asp-action="Join" asp-route-id="@team.Id">Join</a></td>
            </tr>
        }
    </table>
</div>